In [1]:
import pandas as pd

In [4]:
pd.read_excel(r'C:\Users\gurpreet\OneDrive\Desktop\Data xlsx.xlsx')

   Name   Class  Roll Grade
0   Jiya      12    B   A++
1  Riya       11    A     B
2   Piya      10    C   A+

In [6]:
pd.read_csv(r'C:\Users\gurpreet\OneDrive\Desktop\Data csv.csv')

   Name   Class  Roll Grade
0   Jiya      12    B   A++
1  Riya       11    A     B
2   Piya      10    C   A+
3  Diya       10    A    B+